<div class="field">
    <label>Title</label><br>
    <input type="text" name="title">
    <br>
    <label>content</label><br>
    <textarea rows="6" cols="40" name="content"></textarea>
    <br>
     <label>Category</label><br>
    <input type="text" name="category">   
    <br>
    <label>Author</label><br>
    <input type="text" name="author">   
    <br>
    <input type="submit" value="post ">
    <h1></h1>
</div>