 <div class="right-section">
     <h1>Categories</h1>
     <ul>
        {{#each categoryList}}
            <li><a href="/catagory?cat={{this}}">{{this}}</a></li>
        {{/each}}
     </ul>
</div>