<div class="login-container">
        <h1>Login</h1>
        <form class="login-form" method="POST" action="/login">
            <label for="username" class="login-lable">Username</label>
                <input type="text" id="username" name="username" class="login-field">
            <label for="password" class="login-lable">Password</label>
                <input type="password" id="password" name="password" class="login-field">
            <button class="login-button">Login</button>
        </form>
</div>